body
    background-color: #000

#countdown-wrap
    margin-top: 300px

    #countdown
        text-align: center
        color: #F00

        > span
            font-size: 20px

        #time
            font-size: 40px