body
    background-color: #000

#countdown-wrap
    margin-top: 300px

    #countdown
        text-align: center
        color: #F00

        > span
            font-size: 20px
        #time
            font-size: 40px

#countdown-wrap.mobile
    margin-top: 0

    #countdown
        > span
            font-size: 15px
        #time
            font-size: 30px